#root {
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
}

hr{
  width: 70%;
  margin-top: 40px;
  border-bottom: 1px solid white;
}

@media only screen and (min-width: 1000px) {

  #root{
    padding: 5% 20% 0;
  }

  hr{
    width: 100%;
  }
}

